body
	font-family: "Helvetica Neue", Arial, sans-serif
	transition: font-size 350ms ease-in-out

h1
h2
h3
	font-weight: 700
	line-height: 1.5
	color: $text-header

h1
	font-size: 3.75em
	margin: 1em 0 .5em

h2
	font-size: 2em

h3
	font-size: 1.25em

p
	font-size: 1em
	font-weight: 300
	line-height: 1.5
	color: $text-body
	margin: 0 0 .5em

a
	color: $link-unvisited

	&:hover
		color: $link-hover

	&:active,
	&:focus
		color: $link-clicked

	&:visited
		color: $link-visited

@media all and (min-width: $desktop)
	body
		font-size: 18px

@media all and (min-width: $mobile + 1) and (max-width: $desktop - 1)
	body
		font-size: 17px

@media all and (max-width: $mobile)
	body
		font-size: 16px